#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body, html {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #ff6666, #9933ff);
}

.button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.container {
  margin: 20px;
  padding: 20px;
  border: none;
}
